**/.DS_STORE

htpc/.env

bookstack/*
htpc/bookstack/*
htpc/gluetun/*
htpc/jackett/*
htpc/jellyfin/*
htpc/lidarr/*
htpc/ombi/*
htpc/petio-beta/*
htpc/plexmediaserver/*
htpc/portainer/*
htpc/qbit/*
htpc/radarr/*
htpc/requestrr/*
htpc/sonarr/*
htpc/tautulli/*
htpc/portainer/*
portainer/*
traefik/data/acme.json
traefik/data/traefik.log
traefik/data/traefik.yml
vpn/*
nextcloud/*